---
import Layout from "@/layouts/Layout.astro";

import { FIGHTERS } from "@/consts/fighters";
const { id, name } = Astro.params;

const fighter = FIGHTERS.find((fighter) => fighter.id === id);
export const prerender = false;
const title = "Información Luchador";
---

<Layout>
  <!-- SECCION LUCHADOR W-100% -->
  <section id="luchador" class="w-full h-screen bg-[url('/images/hero.webp')] bg-cover bg-center bg-no-repeat mask-fade-bottom">
    <div class="w-full hscreen flex justify-center items-center my-24">
      <div class="relative w-[95%] h-[600px] items-center flex gap-x-16">
        <div
          class="w-[400px] h-[500px] flex flex-col items-center justify-center"
        >
          <!-- Luchador -->
          <img
            aria-label={`Imagen de ${name}`}
            data-id={`hero-image-${id}`}
            src={`/images/fighters/big/${id}.webp`}
            alt={fighter?.name}
            class="relative w-auto h-[500px] mx-10 mb-24 z-0 hover:scale-125 transition-[.3s] mask-fade-bottom"
          />
          <!-- Nombre -->
          <img
            aria-label={`Nombre de ${name}`}
            data-id={`hero-text-${id}`}
            src={`/images/fighters/text/${id}.webp`}
            alt={"Nombre de " + name}
            class="relative h-auto w-[70%] z-10"
          />
        </div>

        <div
          class="relative w-[400px] h-[285px] border-2 text-white rounded-xl flex flex-col !p-10 bg-pink-400/70 gap-y-3 text-sm"
        >
          <p><label>Nickname</label> : {fighter?.name}</p>
          <p><label>Nombre</label> : <span>{fighter?.realName}</span></p>
          <p><label>Altura</label> : <span>{fighter?.height} mt</span></p>
          <p><label>Edad</label> : <span>{fighter?.age} años</span></p>
          <p><label>Peso</label> : <span>{fighter?.weight} Kg.</span></p>
          <div class="w-full flex items-center gap-x-5 my-4">
            <div class="w-[60px] h-auto flex items-center">
              <img src={fighter?.flag} alt={fighter?.country} class="w-full h-auto "/>
            </div>
            <span class="w-full text-sm">{fighter?.city}</span>
          </div>
        </div>

        <div class="w-[350px] h-[500px] bg-blue-500"></div>
      </div>
    </div>
  </Section>
</Layout>
