---
import { FIGHTERS } from "../consts/fighters";
import BoxerCard from "./BoxerCard.astro";

const firstRowLeft = FIGHTERS.slice(0, 3);
const firstRowRight = FIGHTERS.slice(3, 6);

const SecondRowLeft = FIGHTERS.slice(6, 10);
const SecondRowRight = FIGHTERS.slice(10);
const secondRow = FIGHTERS.slice(6);
---

<section class="relative flex min-h-screen justify-center w-full px-" id="hero">
  <div
    class="bg-[url('/images/hero.webp')] bg-cover bg-center w-full mask-fade-bottom absolute inset-0"
  >
  </div>
  <div class="relative flex flex-col items-center justify-end p-y-8 w-full">
    <div
      id="landing"
      class="absolute inset-0 flex flex-col items-center justify-center w-full text-center"
    >
      <h3
        class="font-light text-xl text-dark-magenta py-2 leading-[100%] animate-fade-in animate-delay-300"
      >
        <strong>26</strong> DE<br /><strong>JULIO</strong>
      </h3>
      <figure class="relative flex my-5 animate-fade-in">
        <img
          class="w-64 h-auto z-40"
          src="/images/logo.png"
          alt="La Velada del año V"
          fetchpriority="high"
          decoding="async"
        />
        <div class="absolute bg-pink-400/70 blur-2xl z-0 size-64 top-0"></div>
      </figure>
      <h3
        class="font-light text-theme-seashell leading-5 mt-2 animate-fade-in animate-delay-500"
      >
        ESTADIO<br />LA CARTUJA<br /><strong>SEVILLA</strong>
      </h3>
      <h3
        class="font-light text-theme-raisin-black leading-5 my-5 animate-fade-in animate-delay-700 z-10"
      >
        <a
          href="https://twitch.tv/ibai"
          rel="noopener noreferrer"
          target="_blank"
          class="inline-grid transition hover:scale-125"
        >
          TWITCH.TV<br /><strong>IBAI</strong>
        </a>
      </h3>
    </div>

    <div
      id="fighter-container"
      class="pointer-events-none absolute inset-0 flex flex-col items-center"
    >
      <div
        class="relative top-0 mx-auto h-20 flex w-full items-center justify-center"
      >
        {
          FIGHTERS.map(({ id, name }) => (
            <img
              src={`/images/fighters/text/${id}.png`}
              alt={name}
              decoding="async"
              class="w-auto h-full absolute hidden"
              fetchpriority="low"
            />
          ))
        }
      </div>

      <div
        class="mask-fade-bottom relative bottom-0 mx-auto h-[60vh] flex w-full items-center justify-center"
      >
        {
          FIGHTERS.map(({ id, name }) => (
            <img
              src={`/images/fighters/big/${id}.webp`}
              alt={name}
              decoding="async"
              class="w-auto h-full absolute hidden"
              fetchpriority="low"
            />
          ))
        }
      </div>
    </div>

    <div
      class="flex flex-wrap justify-around w-full max-w-[1200px] gap-y-4 gap-x-24 mb-6 z-0"
    >
      <!-- FISRT ROW -->
      <div class="flex flex-wrap gap-x-2 md:gap-x-4 m-x-auto">
        {firstRowLeft.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
      </div>
      <div class="flex flex-wrap gap-x-2 md:gap-x-4 m-x-auto">
        {firstRowRight.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
      </div>
      <!-- SECOND ROW -->
      <div class="flex flex-wrap justify-around gap-x-4 w-[1200px] mb-4 z-10">
        <div class="flex flex-wrap gap-x-2 md:gap-x-4 m-x-auto">
          {
            SecondRowLeft.map(({ id, name }) => (
              <BoxerCard id={id} name={name} />
            ))
          }
        </div>
        <div class="flex flex-wrap gap-x-2 md:gap-x-4 m-x-auto">
          {
            SecondRowRight.map(({ id, name }) => (
              <BoxerCard id={id} name={name} />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
